

// my
.product-brand{
  font-weight: 900;
}
.thumbnail{
  border: 0;
}
.product-title{
  font-weight: 400;
}
.product-price{
  font-weight: 800;
  color: red;
}

img {
            max-width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }