

// my
.product-brand{
  font-weight: 900;
}
.thumbnail{
  border: 0;
  cursor: pointer;
}
.thumbnail .caption{
  padding: 0;
  height: 65px;
}
.product-title{
  font-weight: 400;
  font-size: 12px;
}
.product-price{
  font-weight: 800;
  color: #cf000f;
  font-size: 12px;
}

img {
            max-width: 85%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }



@media only screen and (min-width: 320px) {
    .image-container {
  padding: auto;
  height:140px
}
}
@media only screen and (min-width: 600px) {
    .image-container {
  padding: auto;
  height:200px
}
}
@media only screen and (min-width: 768px) {
    .image-container {
  padding: auto;
  height:240px
}
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
   background-color: transparent;
    color: red;
}
.pagination>li>a, .pagination>li>span{
  border: 0;
}

