<div *ngIf="products">
    <div class="container">
        <div class="row">
            <h2 class="text-center">{{title | uppercase}}</h2>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let product of products">
                    <div class="thumbnail" (click)="gotoDetail.emit(product.id)">
                        <div class ="image-container">
                        <img data-src="{{product.images[0].src}}" alt="">
                        </div>
                        <div class="caption">
                            <div class="product-brand">{{product.categories[0].name | uppercase}}</div>
                            <div class="product-title">
                                {{product.name}}
                            </div>
                            <div class="product-price">Rp. {{product.price | number}}</div>
                        </div>
                    </div>
                
            </div>

        </div>
    </div>

</div>