a{
    color: gray;
    font-size: 16px;
    line-height: 10px;
}

ul{
    list-style: none;
    -webkit-padding-start: 0px;
}

ul li{
    padding-top: 15px;
}

.footer{
    border-top: 5px black solid;
    padding: 10px;
    margin-top: 50px;
    padding-top: 50px
}