<div class="container">
  <div class="footer">
    <div class="row">

      <div class="col-md-3">
        <h4>Need Help</h4>
        <br>
        <p>contact@sandora.id</p> <br>
        <strong>+6282178999393</strong> <br><br>
        <p>Monday to Friday</p>
        <p>08.00 – 21.00</p>
      </div>
      <div class="col-md-3">
        <h4>Customer Care</h4>
        <ul>
          <li><a href="">Shipping</a></li>
          <li><a href="">Store Locations</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>About Us</h4>
        <ul>
          <li><a href="">About Sandora</a></li>
          <li><a href="">Site Map</a></li>
        </ul>


      </div>
      <div class="col-md-3">

        <form action="" method="POST" role="form">
          <h4>Subscribe Sandora</h4>

          <div class="form-group">

            <input type="text" class="form-control" id="" placeholder="Email">
          </div>

        </form>

      </div>
    </div>

  </div>
</div>