<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body">

                    <form action="" method="POST" role="form">
                        <legend>Ship to Address</legend>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="">First name</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="">Last name</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="">Phone</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="">Country</label>
                            <select name="" id="input" class="form-control">
    <option value="">-- Select One --</option>
  </select>
                            <div class="form-group">
                                <label for="">Address line 1</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="">Address line 2</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="">Postal Code</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                        </div>





                        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                    </form>

                </div>
            </div>



        </div>



    </div>
</div>