button, input, select, textarea{
    border-radius: 0;
    border-color: gray;
}

label {
    margin-top: 10px;
}

.panel-default {
    border-radius: 0;
}

.container {
    margin-top: 10px
}

.btn-success {
    background: #cf000f;
    border-color: #cf000f;
}

